.navbarParent{
  background: #2f2f2f;
  height: 50px;
  width: 100vw;

  font-size: 25px;
}

.navbarElement{
  width: 6%;
  height: 60%;
  margin: 0px 0.2%;
  display: inline-flex;
}

.navbarElementText{
  color: white;
  font-size: 120%;
  text-decoration: none;
  width:100%;
  text-align:center;
}

.navbarElementText:hover{
  font-size: 120%;
  color: rgb(33, 246, 221);
}

.logoNavBar{
  width: 35%;
  height: 100%;
  margin-left: 40%;

  -webkit-filter: brightness(250%);filter: brightness(250%);

  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
  }
  @-moz-keyframes spin {
    95% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin {
    95% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin {
    95% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbarElement-search{
  width: 6%;
  height: 100%;
  margin: 0px 0.2%;
  float: right;
  padding: 0px;
  border: none;
  font-size: 17px;
}

.navbarElement-search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.navbarElement-search input[type=text]:hover{
  color: rgb(186, 35, 35);
}


@keyframes logoAnimation {
    from {background-color: red;}
    to {background-color: yellow;}
}
