body {
    background: #9053c7;
    background: -webkit-linear-gradient(-90deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-90deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-90deg, #c850c0, #4158d0);
    background: linear-gradient(-90deg, #c850c0, #4158d0);
}
.headerForWelcome {
    text-align: center;
    margin: 20px;
    font-family: Roboto;
    font-size: 30px;
}
