.buttonForInput {
    background-color: #57b846;
    border-radius: 15px;
    width: 40px;
    margin-left: 10px;
}
.inputForAlter {
    width: 150px;
    border-radius: 15px;
    text-align: center;
    margin-left: 10px;

}

.divForAlterInput {
    text-align: center;
}

.boxRenderPerimeterParent{
  width: 80vw;
  height: 70vh;
  margin: 5vh 10vw;
  border: 1px solid #aaa;
  overflow: hidden;
}

.boxRenderPerimeter{
  height: 100%;
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar */
  overflow-y: scroll;
}
