.bigBoxContainer{
  float: left;
}

.boxFuture {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background: #e6e6e6;
  height: 100px;
  width: 100px;
  margin: 2px;
  float: left;
}

.boxToday {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background: #e6d714;
  height: 100px;
  width: 100px;
  margin: 2px;
  float: left;
}

.boxOld {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background: #a7a7a7;
  height: 100px;
  width: 100px;
  margin: 2px;
  float: left;
}


.boxTitle{
  text-align: center;
  float: left;


}
